.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-left: 16px;
}

.card {
  box-shadow: 0 0 3px rgb(153, 153, 153);
  width: 200px;
  padding: 24px 36px;
  margin: 30px;
  text-align: center;
}

.card-img {
  height: 100px;
  object-fit: cover;
}
